<h1 class="m-5">Stupid coaching</h1>

<div class="container m-5">
  <p><strong>You:</strong> <%= @question %></p>
  <p><strong>Coach:</strong> <%= @answer %></p>
</div>

<div class="container m-5">
  <%= link_to "Ask another question", ask_path, class: "btn btn-primary" %>
</div>
